* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: white;
}

img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

.main-content {
    display: grid;
}

body {
    background: black;
}

.file-upload {
    margin-left: auto;
    margin-right: auto;
    margin: 4rem;
}

.refresh-btn {
    position: fixed;
    display: grid;
    place-items: center;
    padding: 0.5rem;
    bottom: 1.5rem;
    height: fit-content;
    aspect-ratio: 1/1;
    right: 1.5rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #dbd6d6;
    box-shadow: 1px 0 1px 0;
    color: white;
    cursor: pointer;
    border-radius: 9999px;
    font-size: 18px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}